productsList {
    margin: 20px;
}
name {
    font-weight:900;
    display: block;
}
description {
    display: block;
}
price {
    display: block;
}

price::before {
    content: "$";
}

categories {
    display: block;
    margin-bottom: 20px;
}

category::after {
    content: "|";
}

category::before {
    content: "|";
}