body, html { margin: 0; padding: 0;}
.image-container {        margin: 0;
    padding-bottom: 0px;
}
ul#nav {
    position: fixed;
    justify-content: center; 
    width: 100%;
    background-color: grey;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    top: 0%;
    z-index: 10;
    border-bottom: 3px solid #000;
}
ul#nav li {margin: 4px 3%;}
ul#nav li a {text-decoration: none; color: #000; font-size:50px; border: 3px solid grey;}
ul#nav li a:hover {background-color: orange; color: white; border: 3px solid black;}
h2 {
    font-size: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: orange;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
@media(max-width:1050px){
    ul#nav li {margin: 4px 2%;}
    ul#nav li a {font-size: 50px}
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 22px;
    }
    .footer {
        flex-direction: column;
        height: 220px !important;
    }
}
@media(max-width:650px){
    ul#nav li {margin: 2px 2%;}
    ul#nav li a {font-size: 30px}
    .footer {
        height: 340px !important;
    }
}

.footer {
    display:flex;
    background: grey;
    margin-top: 20px;
    padding-top: 0px;
    height: 150px;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    border-top: 3px solid #000;
}
.footer p {
    justify-content: center; 
    align-items: center; 
    margin: 0px;
    padding: 0px;
}